spring:
  datasource:
    url: jdbc:mysql://localhost:3306/book_social_network
    username: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: mysql

  mail:
    host: localhost
    port: 1025
    username: mahmoud
    password: mahmoud
    properties:
      mail:
        smtp:
          trust: "*"
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000

application:
  security:
    jwt:
      secret-key: bXktMjU2LWJpdC1zZWNyZXQtbXktMjU2LWJpdC1zZWNyZXQ=
      expiration: 86400000
  file:
    upload:
      photos-output-path: ./uploads